
services:
  # Service 1
  http_backend:
    container_name: praxis-http
    build:
      context: .
      dockerfile: docker/Dockerfile.http
    ports:
      - "4000:4000"
    env_file:
      - ./apps/http-backend/.env
    # restart: always # Optional: Restart if it crashes

  # Service 2
  ws_backend:
    container_name: praxis-ws
    build:
      context: .
      dockerfile: docker/Dockerfile.ws
    ports:
      - "5000:5000"
    env_file:
      - ./apps/ws-backend/.env
