version: '3.8'

services:
  # Service 1: Your HTTP Backend
  http_backend:
    container_name: moxly-http
    build:
      context: .
      dockerfile: docker/Dockerfile.http
    ports:
      - "4000:4000"
    env_file:
      - ./packages/db/.env
    # restart: always # Optional: Restart if it crashes

  # Service 2: Your WebSocket Backend
  ws_backend:
    container_name: moxly-ws
    build:
      context: .
      dockerfile: docker/Dockerfile.ws
    ports:
      - "5000:5000"
    env_file:
      - ./apps/ws-backend/.env
